<div class="container-fluid" ng-controller="indexController">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="headingClass">Change Tracker</h3>
            <p>
                <ul>
                    <li>This directive is used to watch over the value changes of form elements based on user interactions. </li>
                    <li>It has the ablility to watch over the values and execute a dynamic function provided through options. </li>
                    <li>This directive is implemented to have more developer control over value changes rather than using $scope.$watch</li>
                </ul>
            </p>
            <br>
            <p class="subheadingClass"><b>Script :</b></p>
            <p>Add the following change-tracker directive to your Form control and provide the options in your controller.(Go through below samples.)</p>
            <pre>&lt;input type="checkbox" change-tracker="checkOptionsCt" value="Checkbox1" ng-model="ctrlModel.checkbox1" name="checkboxTest" /&gt;<br />&lt;input type="text" change-tracker="textOptionsCt" ng-model="ctrlModel.textbox" /&gt;</pre>
            <pre>
$scope.checkOptionsCt = {
    defaultValue: true,
    onTrackerChange: function (isModify) {
	    // Code to execute
    }
}

$scope.textOptionsCt = {
    defaultValue: "This is a test",
    eventType: 'keyup',
    onTrackerChange: function (isModify) {
	    // Code to execute
    }
}

$scope.commonOptionsCt = { 
    defaultValue: { 
        textType: "This is a test", 
        radioTypeGroup: "radio2", 
        checkType: false 
    }, 
    onTrackerChange: function (isModify) { 
	    // Code to execute
    }, 
    isGroup: true 
}
            </pre>
            <br>
            <p class="subheadingClass"><b>Parameters :</b></p>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <td width="20%">Parameters</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>change-tracker</td>
                        <td>Following options are required:<br />
                            <ul style="margin-top: 10px;">
                                <li><i>defaultValue</i>: default value for the control (onTrackerChange will get executed if the default value changes)</li>
                                <li><i>eventType</i></b>: event type to bind (Optional)</li>
                                <li><i>isGroup</i></b>: boolean to let the tracker know if it needs to look for a group of controls. If <i>'true'</i> control name should match with the defaultValue property name</li>
                                <li><i>onTrackerChange</i>: callback function if the value changes</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>A unique name for the control.</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p class="subheadingClass">Working Sample 1</p>
            <p>This example shows change tracker in action.</p>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <td width="20%">Parameter</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>control model</td>
                        <td>{{ ctrlModelCt }}</td>
                    </tr>
                    <tr>
                        <td>target data</td>
                        <td>{{ targetCt }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="SampleBox">
                <div class="parent-container" style="width: 50%; margin-left: 20px;">
                    <div class="row row-item">
                        <div class="col-md-8">
                            <input type="checkbox" change-tracker="checkOptionsCt" value="Checkbox1" ng-model="ctrlModelCt.checkbox1" name="checkboxTest" />
                            Checkbox 1
                        </div>
                        <div class="col-md-4 bold" ng-class="targetCt.checkbox === 'Edited' ? 'red' : 'green'">
                            <span>{{ targetCt.checkbox }}</span>
                        </div>
                    </div>
                    <div class="row row-item">
                        <div class="col-md-8">
                            <input type="text" change-tracker="textOptionsCt" ng-model="ctrlModelCt.textbox" />
                        </div>
                        <div class="col-md-4 bold" ng-class="targetCt.textbox === 'Edited' ? 'red' : 'green'">
                            <span>{{ targetCt.textbox }}</span>
                        </div>
                    </div>
                    <div class="row row-item">
                        <div class="col-md-8">
                            <input id="radio1" change-tracker="radioOptionsCt" type="radio" ng-model="ctrlModelCt.radio" name="radioType" value="radio1" />
                            <label for="radio1">Radio 1</label>
                            <input id="radio2" change-tracker="radioOptionsCt" type="radio" ng-model="ctrlModelCt.radio" name="radioType" value="radio2" />
                            <label for="radio2">Radio 2</label>
                            <input id="radio3" change-tracker="radioOptionsCt" type="radio" ng-model="ctrlModelCt.radio" name="radioType" value="radio3" />
                            <label for="radio3">Radio 3</label>
                        </div>
                        <div class="col-md-4 bold" ng-class="targetCt.radiobutton === 'Edited' ? 'red' : 'green'">
                            <span>{{ targetCt.radiobutton }}</span>
                        </div>
                    </div>
                    <div class="row row-item">
                        <div class="col-md-8">
                            <select change-tracker="selectOptionsCt" ng-model="ctrlModelCt.selectsingle">
                                <option value="1">First Option</option>
                                <option value="2">Second Option</option>
                                <option value="3">Third Option</option>
                            </select>
                        </div>
                        <div class="col-md-4 bold" ng-class="targetCt.selectsingle === 'Edited' ? 'red' : 'green'">
                            <span>{{ targetCt.selectsingle }}</span>
                        </div>
                    </div>
                    <div class="row row-item">
                        <div class="col-md-8">
                            <select change-tracker="selectMulOptionsCt" multiple ng-model="ctrlModelCt.selectmultiple">
                                <option value="1">First Option</option>
                                <option value="2">Second Option</option>
                                <option value="3">Third Option</option>
                            </select>
                        </div>
                        <div class="col-md-4 bold" ng-class="targetCt.selectmultiple === 'Edited' ? 'red' : 'green'">
                            <span>{{ targetCt.selectmultiple }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="subheadingClass">Working Sample 2</p>
            <p>This example shows change tracker group in action.</p>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <td width="20%">Parameter</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>control model</td>
                        <td>{{ groupModelCt }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="parent-container" style="width: 50%; margin-left: 20px; float: left;">
                                <div class="row row-item">
                                    <div class="col-md-8">
                                        <input type="checkbox" change-tracker="commonOptionsCt" value="Checkbox1" ng-model="groupModelCt.checkbox" name="checkType" />Checkbox 1
                                    </div>
                                    <div class="col-md-4 bold" ng-class="groupTargetCt === 'Edited' ? 'red' : 'green'">
                                        <span>{{ groupTargetCt }}</span>
                                    </div>
                                </div>
                                <div class="row row-item">
                                    <div class="col-md-8">
                                        <input type="text" change-tracker="commonOptionsCt" name="textType" ng-model="groupModelCt.textbox" />
                                    </div>
                                </div>
                                <div class="row row-item">
                                    <div class="col-md-8">
                                        <input id="radio4" change-tracker="commonOptionsCt" type="radio" name="radioTypeGroup" value="radio1" ng-model="groupModelCt.radio" />
                                        <label for="radio1">Radio 1</label>
                                        <input id="radio5" change-tracker="commonOptionsCt" checked type="radio" name="radioTypeGroup" value="radio2" ng-model="groupModelCt.radio" />
                                        <label for="radio2">Radio 2</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
